Repository double-slash-podcast/website, pull requests merged in 2022-09, with the labels that each got.

#16 Header
  .gitignore
  .husky/pre-commit
  .npmrc
  app.vue
  assets/fonts/Inter.woff2
  assets/fonts/dank.woff2
  assets/fonts/mono45.woff2
  assets/main.css
  components/AnimateBackground.vue
  components/Header.vue
  components/IconsRows.vue
  nuxt.config.ts
  package.json
  pages/contact.vue
  pages/index.vue
  pnpm-lock.yaml
  public/svg/logo.svg
  tailwind.config.js
Labels: Add feature, structure

#18 Fix husky pre-commit, clean test, update dependencies and complete the Readme
  .husky/pre-commit
  __tests__/__snapshots__/mdToHtml.test.ts.snap
  __tests__/basic.test.ts
  __tests__/guid-episodes.test.ts
  __tests__/mdToHtml.test.ts
  assets/main.css
  helpers/renderer.ts
  package.json
  pnpm-lock.yaml
  public/nuxt.png
  public/vite.png
  readme.md
  yarn.lock
Labels: chore

#20 Component Batching
  app.config.ts
  assets/main.css
  components/AnimateBackground.vue
  components/Authors.vue
  components/Brand.vue
  components/EpisodeHeadings.vue
  components/EpisodeLink.vue
  components/Header.vue
  components/HeadingsSection.vue
  components/IconsRows.vue
  components/LastEpisodes.vue
  components/PodcastList.vue
  components/Wrapper.vue
  components/global/AppleIcon.vue
  components/global/DeezerIcon.vue
  components/global/GoogleIcon.vue
  components/global/SpotifyIcon.vue
  components/global/TuneinIcon.vue
  content/podcasts/ecoconception/index.md
  content/podcasts/ecommerce-statique/index.md
  content/podcasts/github-ninja/index.md
  content/podcasts/jamstack-conf/index.md
  content/podcasts/jamstack/index.md
  content/podcasts/jquery/index.md
  content/podcasts/prologue/index.md
  content/podcasts/seo/index.md
  content/podcasts/tailwindcss/index.md
  content/podcasts/web-platform-2022/index.md
  content/podcasts/web-platform-2022/transcript.json
  layouts/default.vue
  layouts/light.vue
  nuxt.config.ts
  package.json
  pages/index.vue
  pages/podcasts/[slug].vue
  pages/podcasts/index.vue
  pnpm-lock.yaml
  readme.md
  tailwind.config.js
Labels: structure, Parts/components

#21 Navbar
  assets/main.css
  components/Header.vue
  components/HeadingsSection.vue
  components/Navbar.vue
  content/podcasts/web-platform-2022/index.md
  pnpm-lock.yaml
Labels: Parts/components
